/* CSS generales ------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* HEADER -------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/

#logo {
  width: 100px;
  position: absolute;
  margin-top: 6px;
  margin-left: 33px;
}

/* Contenedor del header */

.header-container {
    width: 100%;
    border-bottom: solid 2px black;
}

/* Menu desplegable */

.nav-open {
    float: left;
    margin-left: 7px;
    margin-top: 4px;
}

.nav-open i {
    color: black;
    font-size: 2em;
    padding-right: 5px;
}

#header-event {
    display: none;
}

#header-event:checked~.nav-header {
    width: 100vw;
    height: auto;
    background-color: #000000;
}

.nav-header {
    width: 100%;
    height: 0vw;
    background-color: #ffffff;
    overflow: hidden;
    transition: 500ms;
}

.nav-header a {
    display: block;
    font-size: 0.8em;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
}

/* Botones ingresar - registrate */

.login-button, .signup-button {
    display: inline-block;
    float: right;
    text-align: center;
    width: 70px;
    margin: 5px 5px;
    margin-top: 8px;
    padding: 5px;
}

.login-button a, .signup-button a {
    color: black;
    border: 3px black;
    font-weight: bold;
    font-size: 0.75em;
}

.login-button:hover {
  background-color: #d15a04;
}

.signup-button:hover {
    text-decoration: underline;
}

/* Boton desplegable UsuarioLogueado (admin, user) */

.menu-open {
    float: right;
    margin-left: 7px;
    margin-top: 4px;
}

.menu-open p {
    font-size: 0.8em;
    padding-right: 10px;
}

#menu-event {
    display: none;
}

#menu-event:checked~.dropdown-menu{
    width: 100vw;
    height: auto;
}

.dropdown-container {
  height: 100vh;
}
.dropdown-menu {
    height: 0vw;
    overflow: hidden;
    transition: 500ms;
}

.dropdown-menu li a {
    display: block;
    font-size: 0.8em;
    padding: 4px;
    text-decoration: none;
    color: black;
    text-align: right;
    background-color: grey;
}

/* FOOTER -------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/

.footer-terms ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

.footer-terms ul li {
    padding: 3px 0;
    text-align: center;
}

.footer-terms ul a {
    font-size: 12px;;
}

.footer-bottom p {
    text-align: center;
    background-color: black;
    color: white;
    padding: 2px 0;
    margin: 0;
    font-size: 10px;
}

/* HOME CONTENT -------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/

.bannerppal img{
  width: 100%;
}

.categories-container {
  width: 80%;
  margin: auto;
}

.banner-category img {
  width: 100%;
}

.banner-category {
  position: relative;
}

.banner-category p {
  position: absolute;
  top: 50%;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background-color:rgba(192,192,192,0.6);
}


/* REGISTER -----------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/


/*borde que contiene el formulario entero*/
.register-container {
    border: 2px solid #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Titulo*/
.box-register {
  width: 94%;
  margin: auto;
}
.register-title {
    background-color: #eeeeee;
}
.register-title h1 {
    text-align: center;
    padding: 15px;
    margin: 0;
    font-size: 1em;
}


/*El formulario*/
.register-form {
    margin: auto;
    width: 85%;
}
.register-form p {
    text-align: center;
    font-size: 0.8em;
}

/*los campos*/

.register-form input {
    margin: 2px 0px;
    padding: 6px 0px;
    width: 100%;
    font-size: 12px;
}

.register-form label input {
    width: auto;
    margin: 5px 5px 5px 0;
}

.terminos {
    color: #555555;
    font-size: 0.8em;
}

.valError {
  color: red;
  font-size: 0.7em;
}
register-form input .error {
  border: red 1px solid;
}

/*Boton registrarse*/

.register-button {
    width: 40%;
    padding: 1px;
    color: white;
    background-color: black;
    margin: 8px 0 15px 0;
    font-size: 0.8em;
    padding-top: 6px;
}

.register-footer {
    text-align: center;
    margin-top: 20px;
}


/* PANEL ADMIN --------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/

.panel-container {
  width: 95%;
  margin: auto;
  padding: 10px 0;
  margin-top: 15px;
  background-color: orange;
}

.panel-title p {
  text-align: center;
}

.block {
  width:95%;
  margin: auto;
  border: 2px black solid;
  margin-bottom: 7px;
}

.block a li{
  padding: 50px 0;
  background-color: white;
}
